* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Nombre {
    background-color: #140f07;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    color: red;
}

.Navegation {
    background-color: #0e2448;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    height: 100%;
    top: 0;
    
}

.Navegation li{
    padding: 20px;
    color: #e5d9ed;
}

.Main {
    padding: 10px;
    background-color: #375fad;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    
}

.Main li{
    list-style: none;
    display: flex;
    flex-direction: column;
   background-color: #6ba4fd;
    border-radius: 5px;
    border-style: groove;
    border-color: black;
    padding: 20px;
    
}



.LM  {
    justify-content: center;
    position: relative; 
}

.Titulo1 {
    background-color: #5f5a87 !important;
    justify-content: center;
    text-align: center;
    height: 10%;
    align-items: center;
    width: 80%;
    margin: 15px;
    flex-direction: column;
}

.Titulo2 {
    background-color: #a39fde !important;
    justify-content: center;
    text-align: center;
    height: 10%;
    align-items: center;
    width: 80%;
    margin: 15px;
}


.Titulo3 {
    background-color: #e5d9ed !important;
    justify-content: center;
    text-align: center;
    height: 10%;
    align-items: center;
    width: 80%;
    margin: 15px;  
    
}


.footer {
    background-color: #aff3fa;
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px) 